<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortened Link</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../public/styles/link.css" rel="stylesheet" type="text/css">

</head>
<body>

<input id="url" value="<%= url %>" size="38">

<button id="copy" data-clipboard-target="#url"><i class="fa fa-clipboard"></i></button>

<script src="../public/scripts/clipboard.min.js"></script>
<script src="../public/scripts/clipboard.js"></script>
</body>
</html>